* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    ;
    padding: 30px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

ul li a {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    color: #424242;
}

.header-logo {
    color: var(--dark-01, #131313);
    font-size: 2rem;
    font-weight: 700;
}

.banner-img {
    width: 100%;
    margin-top: 20px;
}

.banner-text {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

.banner-description {
    color: #727272;
    font-weight: 400;
}

.primary-btn {
    padding: 10px 14px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    font-size: 1rem;
    border: none;


}
/* media query  */
/* for mobile device */
@media screen and (max-width:576px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
        
    }
    nav ul{
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    .banner-description, .banner-title{
        margin-bottom: 20px;
    }  
}
/* for tablet or medium device */
@media screen and (min-width:576px) and (max-width:992px){
    nav{
        flex-direction: column;
        
    }
    header{
        padding: 50px;
    }
    nav ul{
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    .banner-description, .banner-title{
        margin-bottom: 20px;
    }  
}