* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    ;
    padding: 30px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    list-style: none;
    display: flex;
}

ul li a {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    color: #424242;
}

.header-logo {
    color: var(--dark-01, #131313);
    font-size: 2rem;
    font-weight: 700;
}

.banner-img {
    width: 100%;
    margin-top: 20px;
}

.banner-text {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

.banner-description {
    color: #727272;
    font-weight: 400;
    margin-top: 20px;

}

.primary-btn {
    padding: 10px 14px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    font-size: 1rem;
    border: none;
    margin-top: 30px;


}

main section {
    max-width: 1140px;
    margin: 50px auto;
}

.feature-container {
    display: flex;
    align-items: center;
}

.img {
    height: 300px;
    width: 300px;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}



.feature-text {
    padding-left: 70px;
}

.feature-description {
    color: #727272;
    margin-bottom: 20px;

}

.gray {
    color: #727272;
    font-weight: 500;
}

.orng {
    color: #FF900E;
    font-weight: 700;
}

.black {
    font-weight: 700;
}

.feature-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.fact-container {
    display: flex;
    justify-content: space-around;

}

.card {
    padding: 30px;
    text-align: center;
}

.card-state {
    color: #424242;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
}

.card-description {
    color: #727272;
    font-weight: 600;
}

.fact-head {
    font-size: 2rem;
    color: #131313;
    font-weight: 700;
    margin-bottom: 15px;
}

.fact-text {
    color: #727272;
    font-weight: 400;
    margin-bottom: 50px;
}

.sponsor {
    text-align: center;
    margin-top: 100px;
}

.sponsor-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.fact-text {
    color: #727272;
    font-style: normal;
    font-weight: 400;
}

.love-head-container {
    display: flex;
    gap: 20px;
}

.love-image {
    width: 600px;
    height: 800px;
    margin-top: 80px;
    margin-left: 100px;
}

.love-title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 120px;
    border-left: 5px solid #FF900E;
    padding: 10px;

}

.love-card {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;
    padding: 30px;
    margin-top: 20px;
}

.card-title {
    color: #131313;
    font-size: 1rem;
    font-weight: 600;
}

.card-text {
    color: #727272;
    font-weight: 400;
    margin-top: 10px;
    font-size: 0.8rem;
}

.section-text {
    color: #727272;
    font-weight: 400;
    margin-top: 10px;
    font-size: 0.8rem;

}

.love-text {
    max-width: 500px;
}

.experience {
    border-radius: 5px;
    background: #FF900E;
    width: 200px;
    height: 100px;
    color: white;
    margin-top: 0px;
    position: relative;
    bottom: 50px;
    margin-left: 50px;
    text-align: center;

}

.experien-title {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 20px;
}

.copy {
    background-color: antiquewhite;
    padding: 20px 200px;
    color:#424242;
    text-align: center;
    font-weight: 400;
}

.footer {
    max-width: 1140px;
    margin: 100px auto;
}









/* media query  */
/* for mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding: 20px;
    }

    .feature-container {
        flex-direction: column;
    }

    .feature-img {
        grid-template-columns: 1fr;
    }

    .feature-description {
        padding-right: 5px;
    }

    .feature-text {
        padding-top: 20px;
    }

    .fact-container {
        flex-direction: column;
        gap: 10px;
        width: 70%;
        margin: 0 auto;
    }

    .fact {
        padding-left: 20px;
    }

    .sponsor-container {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    .sponsor-img {
        width: 100px;
    }

    .feature-text {
        padding: 10px;
    }

    .love-head-container {
        flex-direction: column;
    }

    .love-image {
        width: 70%;
        height: 70%;
        margin: 0 auto;
        padding-left: 50px;
    }
    .copy{
        padding: 10px;
    }
    .footer{
        width: 70%;
        margin: auto;
        margin-bottom: 50px;
    }




}


/* for tablet or medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding: 20px;
    }

    .love-head-container,
    .feature-container {
        flex-direction: column;
    }

    .feature-text {
        padding-top: 20px;
    }

    .feature-img {
        grid-template-columns: repeat(2, 1fr);
    }

    .fact {
        padding-left: 150px;
    }

    .sponsor-container {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    .fact-container {
        flex-direction: column;
        gap: 10px;
        width: 70%;
        margin: 0 auto;
    }

    .love-card {
        width: 70%;
        margin: auto;
    }

    .love-image {
        padding-left: 50px;
    }

    .love-text {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .footer{
        width: 70%;
        margin: auto;
        margin-bottom: 50px;
    }


}